.aboutWrapper {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutWrapper .headerImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
}
.aboutWrapper .headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutWrapper .aboutBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.aboutWrapper .aboutBody .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 100rem;
}
.aboutWrapper .aboutBody .content h1 {
  width: 100%;
  text-align: left;
  margin: 2rem;
  font-size: 3.5rem;
}
.aboutWrapper .aboutBody .content .aboutUnderline {
  width: 100%;
  border-bottom: 0.5rem solid #0353a4;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.aboutWrapper .aboutBody .content .aboutContent {
  font-size: 2rem;
}
.aboutWrapper .aboutBody .content .aboutContent p {
  font-size: 2rem;
  padding: 2rem;
}
