.contactBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contactBody .contact-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 2;
}
.contactBody .contact-wrapper .contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 80%;
  max-width: 50rem;
  margin: 10rem;
}
.contactBody .contact-wrapper .contactForm h1 {
  text-align: center;
  font-size: 3rem;
}
.contactBody .contact-wrapper .contactForm form {
  width: 100%;
  height: 100%;
}
.contactBody .contact-wrapper .contactForm form .hidden {
  visibility: hidden;
}
.contactBody .contact-wrapper .contactForm form .hidden.visible {
  visibility: visible;
  font-size: 2rem;
  color: green;
}
.contactBody .contact-wrapper .contactForm form .hidden.error {
  visibility: visible;
  font-size: 2rem;
  color: red;
}
.contactBody .contact-wrapper .contactForm form .hidden.visible {
  visibility: visible;
  font-size: 2rem;
  color: green;
}
.contactBody .contact-wrapper .contactForm .formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}
.contactBody .contact-wrapper .contactForm .formInput label {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 2rem;
}
.contactBody .contact-wrapper .contactForm .formInput input {
  width: 100%;
  height: 3rem;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 0.2rem solid black;
  border-radius: 0.5rem;
}
.contactBody .contact-wrapper .contactForm .formInput input:focus {
  outline: none;
  border-bottom: 0.2rem solid blue;
}
.contactBody .contact-wrapper .contactForm .formInput input:hover {
  border-bottom: 0.2rem solid blue;
}
.contactBody .contact-wrapper .contactForm .formButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contactBody .contact-wrapper .contactForm .formButton button {
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  border: 0.2rem solid black;
  background-color: #0466c8;
  color: white;
  padding: 2rem;
  margin: 2rem;
  border: 0.1rem solid #0466c8;
  border-radius: 0.3rem;
}

.contactBody .contact-wrapper .contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  height: auto;
  max-height: 50rem;
  width: 80%;
  max-width: 50rem;
  box-sizing: border-box;
}
.contactBody .contact-wrapper .contactInfo .contactInfo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 50rem;
  height: 50vh;
  width: auto;
}
.contactBody
  .contact-wrapper
  .contactInfo
  .contactInfo-wrapper
  .contactInfo-header
  h1 {
  text-align: center;
  font-size: 5rem;
}
.contactBody
  .contact-wrapper
  .contactInfo
  .contactInfo-wrapper
  .contactInfo-header
  .contactInfo-line {
  width: 100%;
  border-top: 0.2rem solid #0353a4;
  border-bottom: 0.2rem solid #0353a4;
}
.contactBody
  .contact-wrapper
  .contactInfo
  .contactInfo-wrapper
  .contactInfo-content {
  font-size: 2.5rem;
}
.contactBody
  .contact-wrapper
  .contactInfo
  .contactInfo-wrapper
  .contactInfo-content
  .p1 {
  display: inline-block;
  width: 100%;
}
.contactBody
  .contact-wrapper
  .contactInfo
  .contactInfo-wrapper
  .contactInfo-content
  .p2 {
  display: inline-block;
  width: 100%;
}

.googleMap {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.googleMap h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
}
@media only screen and (max-width: 360px) {
  .contactBody .contact-wrapper .contactInfo {
    padding: 10rem 20;
  }
}
