.fencing-wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fencing-wrapper .fencing-header {
  width: 100%;
  height: 100%;
}
.fencing-wrapper .fencing-header .fencing-image {
  max-width: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/banners/fence.jpeg);
  padding: 100px 0;
  height: 30vh;
  max-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fencing-wrapper .fencing-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fencing-wrapper .fencing-body .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  padding: 50px;
}
.fencing-wrapper .fencing-body .content h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: black;
}
.fencing-wrapper .fencing-body .content .line {
  width: 100%;
  border-top: 2px solid #0353a4;
  border-bottom: 2px solid #0353a4;
}
.fencing-wrapper .fencing-body .content h4 {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 25px;
  color: black;
}

.fencing-wrapper .fencing-body .content p {
  text-align: left;
  font-size: 1.3rem;
}

.fencing-wrapper .fencing-body .photoGallery {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.fencing-wrapper .fencing-body .photoGallery .images {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.fencing-wrapper .fencing-body .photoGallery img {
  width: 90%;
  max-width: 500px;
  height: auto;
  margin: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 450px) {
  .fencing-wrapper .fencing-header .fencing-image {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/banners/fence.jpeg);
    height: 400px;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px 400px;
  }
}
