.footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #979dac; */
  /* background-color: whitesmoke; */
  background-color: #0466c8;
  box-shadow: 5px 4px 10px rgba(150, 150, 150, 1);
}
.footer .logo {
  display: flex;
  align-items: center;
  padding: 30px;
}
.footer .logo img {
  width: 100%;
  max-width: 300px;
}
.footer .contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.footer .contactInfo h3 {
  font-size: 1.6em;
  color: white;
  font-weight: 900;
}
.footer .contactInfo h4 {
  font-size: 1.3em;
  color: white;
  text-align: left;
  width: 100%;
  margin: 0;
}
.footer .contactInfo p {
  font-size: 1.2em;
  color: white;
  text-align: center;
  width: 100%;
}
.footer .contactInfo p a {
  color: white;
  font-weight: 900;
  cursor: pointer;
}
