@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Noto Sans JP", sans-serif;
}

.homeBody-wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.homeBody-wrapper .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/banners/homeImage1.jpg);
  padding: 100px 0px;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeBody-wrapper .header h1 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  text-align: center;
  padding: ;
}
.homeBody-wrapper .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeBody-wrapper .us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.homeBody-wrapper .us .content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeBody-wrapper .us .content h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #001233;
}
.homeBody-wrapper .us .content p {
  font-size: 1.5rem;
  text-align: center;
  color: #001233;
}
.homeBody-wrapper .us .content a {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  background-color: #0466c8;
  color: white;
  padding: 20px;
  border: 1px solid #0466c8;
  border-radius: 3px;
}
.homeBody-wrapper .us .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.homeBody-wrapper .us .mugImage img {
  padding: 30px;
  max-height: 250px;
  max-width: 100%;
}
.homeBody-wrapper .backgroundImage2 {
  background-image: url(../assets/banners/homeHero.jpg);
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeBody-wrapper .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.homeBody-wrapper .services .titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #fff;
  text-align: center;
  word-wrap: normal;
  background-color: #001233;
}
.homeBody-wrapper .services .titleSection h1 {
  font-size: 3rem;
}
.homeBody-wrapper .services .titleSection h3 {
  font-size: 1.5rem;
}
.homeBody-wrapper .services .servicesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: whitesmoke;
  padding: 30px;
}
.homeBody-wrapper .services .servicesSection .serviceWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  width: 300px;
  min-width: 200px;
  min-height: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px 8px rgba(3, 83, 164, 1);
  -moz-box-shadow: 0px 2px 5px 8px rgba(3, 83, 164, 1);
  box-shadow: 0px 2px 5px 8px rgba(3, 83, 164, 1);
}
.homeBody-wrapper .services .servicesSection .serviceWrapper .serviceLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeBody-wrapper .services .servicesSection .serviceWrapper .serviceLogo i {
  font-size: 3em;
  color: #002855;
}
.homeBody-wrapper
  .services
  .servicesSection
  .serviceWrapper
  .serviceContent
  h2
  a {
  text-decoration: none;
  color: #002855;
}
.homeBody-wrapper
  .services
  .servicesSection
  .serviceWrapper
  .serviceContent
  .Lists
  ul {
  list-style-type: none;
}
.homeBody-wrapper
  .services
  .servicesSection
  .serviceWrapper
  .serviceContent
  .Lists
  .serviceList
  li {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.backgroundImage3 {
  background-image: url(../assets/banners/homeImage2.jpg);
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.estimate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.estimate .infoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 60%;
  color: #001233;
}
.estimate .infoSection .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.estimate .infoSection .info h2 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}
.estimate .infoSection .info span {
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
}
.estimate .infoSection .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.estimate .infoSection .link a {
  text-decoration: none;
  font-size: 2rem;
  background-color: #0466c8;
  color: white;
  padding: 20px;
  border: 1px solid #0466c8;
  border-radius: 3px;
}
.estimate .infoSection .link a:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
