@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.home-wrapper {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home-wrapper .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
}

.home-wrapper .header .header-content {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.home-wrapper .header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-wrapper .bodySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.home-wrapper .us .content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-wrapper .us .content h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #001233;
}
.home-wrapper .us .content p {
  font-size: 2rem;
  text-align: center;
  color: #001233;
}
.home-wrapper .us .content a {
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  border: 0.2rem solid black;
  background-color: #0466c8;
  color: white;
  padding: 2rem;
  margin: 2rem;
  border: 0.1rem solid #0466c8;
  border-radius: 0.3rem;
}
.home-wrapper .us .content a:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.home-wrapper .us .mugImage img {
  padding: 3rem;
  max-height: 25rem;
  max-width: 100%;
}
.home-wrapper .backgroundImage2 {
  background-image: url("../assets/banners/homeHero.jpg");
  height: 60rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-wrapper .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
}
.home-wrapper .services .titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 0.3rem;
  color: #fff;
  text-align: center;
  word-wrap: normal;
  background-color: #001233;
}
.home-wrapper .services .titleSection h1 {
  font-size: 3.5rem;
}
.home-wrapper .services .titleSection h3 {
  font-size: 2rem;
}
.home-wrapper .services .servicesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: whitesmoke;
  padding: 3rem;
}
.home-wrapper .services .servicesSection .serviceWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  width: 30rem;
  min-width: 20rem;
  min-height: 30rem;
  margin: 2rem;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0.2rem 0.5rem 0.8rem rgba(3, 83, 164, 1);
  -moz-box-shadow: 0px 0.2rem 0.5rem 0.8rem rgba(3, 83, 164, 1);
  box-shadow: 0px 0.2rem 0.5rem 0.8rem rgba(3, 83, 164, 1);
}
.home-wrapper .services .servicesSection .serviceWrapper .serviceLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-wrapper .services .servicesSection .serviceWrapper .serviceLogo i {
  font-size: 5rem;
  color: #002855;
}
.home-wrapper .services .servicesSection .serviceWrapper .serviceContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.home-wrapper .services .servicesSection .serviceWrapper .serviceContent h2 a {
  text-decoration: none;
  color: #002855;
  font-size: 3.5rem;
}
.home-wrapper
  .services
  .servicesSection
  .serviceWrapper
  .serviceContent
  .Lists
  ul {
  list-style-type: none;
  font-size: 2rem;
}
.home-wrapper
  .services
  .servicesSection
  .serviceWrapper
  .serviceContent
  .Lists
  .serviceList
  li {
  border-bottom: 0.1rem solid black;
  padding-bottom: 1rem;
}

.backgroundImage3 {
  background-image: url("../assets/banners/homeImage2.jpg");
  height: 60rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.estimate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}
.estimate .infoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 60%;
  color: #001233;
}
.estimate .infoSection .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.estimate .infoSection .info h2 {
  text-align: center;
  width: 100%;
  font-size: 4rem;
}
.estimate .infoSection .info span {
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
}
.estimate .infoSection .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}
.estimate .infoSection .link a {
  text-decoration: none;
  font-size: 3rem;
  background-color: #0466c8;
  color: white;
  padding: 2rem;
  border: 0.1rem solid #0466c8;
  border-radius: 0.3rem;
}
.estimate .infoSection .link a:hover {
  box-shadow: 0 0.5rem 1.5rem rgba (0, 0, 0, 0.3);
}
@media only screen and (max-width: 450px) {
  .home-wrapper .backgroundImage2 {
    background-attachment: scroll;
  }
  .backgroundImage3 {
    background-attachment: scroll;
  }
}
